.about-us {
  display: flex;
  img {
    margin-top: 37px;
    margin-left: 64px;
    width: 300px;
    height: 700px;
    object-fit: cover;
  }
  h1 {
    padding-top: 16px;
    margin-bottom: 0px;
  }
  h2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: grey;
    &:hover {
      color: rgb(191, 0, 0);
    }
  }
}

@media only screen and (max-width: 1000px) {
  .about-us {
    display: block;
    img {
      height: 300px;
      width: 100%;
      margin: 0;
    }
  }
}
