.about-us {
  display: flex;
  img {
    margin-top: 37px;
    margin-left: 64px;
    width: 300px;
    height: 700px;
    object-fit: cover;
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
  }
  h1 {

  }
  h2 {
    margin-top: 4px;
    margin-bottom: 4px;
  }
  a {
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: grey;
    &:hover {
      color: rgb(191, 0, 0);
    }
  }
}

.about-us-card {
  box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.4);
  border-radius: 4px;
  padding: 8px 16px;
  margin-bottom: 32px;
  background-color: white;
}

@media only screen and (max-width: 1000px) {
  .about-us {
    display: block;
    img {
      height: 300px;
      width: 100%;
      margin: 0;
    }
  }
}
