// Import page-specific CSS files here.
@import "home";
@import "venues";
@import "about_us";
@import "teams";

body {
  margin: 0px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, 0.05);
}

h1, h2 {
  font-family: 'Teko', sans-serif;
}

h3, p, a {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

.page-h1 {
  margin: 0px 0px 16px 16px;
  padding: 0px;
}

.container-home {
  width: 1000px;
  margin: auto;
  min-height: calc(100vh - 764px);
}

.container {
  width: 1000px;
  margin: 130px auto 50px auto;
  min-height: calc(100vh - 240px);
}

@media only screen and (max-width: 1000px) {
  .container-home {
    width: 90%;
  }
  .container {
    width: 90%;
  }
}
