<h1><strong>NEWS</strong></h1>
  <%  @articles.each do |article| %>
  <h2><%= article.title %></h2>
  <p><%= article.content %></p>
  <%= link_to "More details", article_path(article.id) %>
  <br>
  <br>
<% end %>
<%= link_to "Add news", new_article_path %>
