<div class="footer">
  <div class="footer-links">
    <p>Find us on</p>
    <a href="https://www.facebook.com/crawley.sparks/"><i class="fab fa-facebook"></i></a>
    <a href="https://www.instagram.com/explore/tags/crawleysparks/?hl=en"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
  </div>
  <div class="footer-copyright">
    © 2020 Crawley Volleyball Club - All Rights Reserved
  </div>
</div>
