<div class="container">
  <div class="about-us">
    <div>
      <h1 class="page-h1">ABOUT US</h1>
      <div class="about-us-card">
        <h1>History</h1>
        <p>Crawley Volleyball Club was established in September 2017 and offers competitive level volleyball to men and women (currently adults-only). <br><br> We started competing in the local indoor volleyball league in the Autumn of 2018 and have been entering a men's and a ladies' team in their respective uppermost divisions every season since then. <br><br>We are a very multicultural team with players from all around the world, including Italy, Germany, India, Poland, Thailand, Spain, USA, Portugal, Bulgaria, Dominica, Moldova, Uganda and of course England.</p>
      </div>
      <div class="about-us-card">
        <h1>Join us?</h1>
        <p>New players are always welcome - we would be very happy to see you in the hall! First month of training is free of charge. Our indoor season usually starts late August and finishes in May. Get <%= link_to 'in touch', contact_path %> with us for more details.</p>
      </div>
      <div class="about-us-card">
        <h1>Achievements</h1>
        <h2>LADIES</h2>
        <p>2018/19 - <strong>Group Stage</strong> - South East Volleyball Asssociation (SEVA) Tournament</p>
        <p>2018/19 - <strong>3rd Place</strong> - Div 1 Surrey Volleyball League</p>
        <h2>MEN</h2>
        <p>2018/19 - <strong>Group Stage</strong> - South East Volleyball Asssociation (SEVA) Tournament</p>
        <p>2018/19 - <strong>4th Place</strong> - Div 1 Surrey Volleyball League</p>
      </div>
      <div class="about-us-card">
        <h1>Training and Matches</h1>
        <p>Please visit the <%= link_to 'Venues', venues_path, class: "menu-item" %> page for more details on training times and sports halls locations</p>
      </div>
    </div>
    <%= image_tag('sparks.jpg') %>
  </div>
</div>
