<div class="container">
  <h1>CONTACT US</h1>
  <div class="contact-us-box">
    <p>Email us on <a href="mailto:crawley.sparks@gmail.com" class="contact-us-email-link">crawley.sparks@gmail.com</a></p>
    <p>or</p>
    <p>Message us on <span>facebook</span> using the chat box below</p>
    <%= image_tag('contact_us.jpg') %>
  </div>

  <!-- Messenger Chat plugin Code -->
  <div id="fb-root"></div>

  <!-- Your Chat plugin code -->
  <div id="fb-customer-chat" class="fb-customerchat">
  </div>

  <script>
    var chatbox = document.getElementById('fb-customer-chat');
    chatbox.setAttribute("page_id", "311742289334948");
    chatbox.setAttribute("attribution", "biz_inbox");

    window.fbAsyncInit = function() {
      FB.init({
        xfbml            : true,
        version          : 'v12.0'
      });
    };

    (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = 'https://connect.facebook.net/en_GB/sdk/xfbml.customerchat.js';
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
  </script>
</div>
