<div class="container">
  <div>
    <h1>Imberhorne School</h1>
    <p>Imberhorne Lane, Felbridge, East Sussex</p>
  </div>
  <div>
    <h1>Ifield Community College</h1>
    <p>Ifield CC, Ifield, Crawley, West Sussex</p>
  </div>
</div>
