.footer {
  background-color: black;
  display: flex;
  justify-content: space-between;
  font-family: 'Ubuntu', sans-serif;
  align-items: center;
  width: 100%;
  height: 50px;
  color: white;
}
.footer-links {

  margin-left: 32px;
  text-decoration: none;
  a {
    color: white;
    margin: 0px 12px;
    &:hover {
      color: rgb(191, 0, 0);
    }
  }
}
.footer-copyright {
  margin-right: 32px;
}
