.mobile-menu {
  position: fixed;
  top: 108px;
  display: none;
  flex-direction: column;
  background-color: rgba(1, 1, 1, 0.9);
  z-index: 4;
  width: 100%;
  align-items: center;
  padding-bottom: 4px;
}
.mobile-menu-item {
  text-decoration: none;
  font-weight: bold;
  color: white;
  width: 100%;
  padding: 8px 8px;
  border-radius: 4px;
  border-top: 2px solid black;
  margin: 2px;
  text-align: center;
}
