.mobile-menu {
  position: fixed;
  display: flex;
  top: 110px;
  flex-direction: column;
  background-color: rgba(1, 1, 1, 0.9);
  z-index: 4;
  left: -4px;
  width: 100%;
  padding: 4px;
  align-items: center;
  margin: 0px;
  transform: translateX(200%);
  transition: transform 0.3s;
}

.mobile-menu-item {
  text-decoration: none;
  font-weight: bold;
  color: white;
  width: 90%;
  padding: 8px 8px;
  border-top: 2px solid black;
  margin: 2px;
  padding-left: 0px;
  text-align: center;
}

.mobile-menu-appear {
  transform: translateX(0%);
  transition: transform 0.3s;
}

@media only screen and (min-width: 1024px) {
  .mobile-menu {
    display: none;
  }
}
