.navbar {
  box-sizing: border-box;
  width: 100%;
  z-index: 3;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  background: rgba(1, 1, 1, 0.9);
  height: 110px;
  margin: auto;
  padding: 4px;
  font-family: 'Ubuntu', sans-serif;
  img {
    margin: 0px 64px;
    height: 100px;
  }
}
.navbar-container {
  margin: 0px;
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 1024px;
  margin: auto;
  position: relative;
}
.menu-items {
  display: flex;
  align-items: flex-end;
  a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  font-size: 14px;
  transition: 0.5s;
  margin-bottom: 2px;
    &:hover {
    background-color: rgb(191, 0, 0);
    border-radius: 4px;
    }
  }
}
.menu-item {
  padding: 8px 16px;
}

.member-login {
  z-index: 4;
  position: absolute;
  top: 10px;
  right: -25px;
  border-radius: 4px;
  a {
    font-family: 'Ubuntu', sans-serif;
    display: inline-block;
    text-align: center;
    width: auto;
    font-size: 14px;
    background-color: rgb(191, 0, 0);
    color: black;
    padding: 4px;
    margin: 4px;
    border-radius: 4px;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      background-color: white;
      color: rgb(191, 0, 0);
    }
  }
}

.navbar-social-links {
  z-index: 4;
  position: absolute;
  top: 10px;
  left: -20px;
  border-radius: 50%;
  a {
    display: inline-block;
    text-align: center;
    width: 14px;
    height: 14px;
    font-size: 12px;
    background-color: rgb(191, 0, 0);
    color: white;
    padding: 4px;
    margin: 4px;
    border-radius: 50%;
    text-decoration: none;
    transition: 0.5s;
    &:hover {
      background-color: white;
      color: rgb(191, 0, 0);
    }
  }
}
.navbar-mobile-menu {
  display: none;
  color: white;
}

@media only screen and (max-width: 1024px) {
  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      margin: 8px 16px;
      height: 84px;
    }
  }
  .menu-items {
    display:none;
  }
  .member-login {
    display: none;
  }
  .navbar-social-links {
    display: none;
  }
  .navbar-mobile-menu {
    display: block;
    margin-right: 40px;
    font-size: 32px;
  }
}
